* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.form_container {
    max-width: 900px;
    margin: 0 auto;
}

.apply-box {
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.5);
    border-radius: 3px;
}

.small-text {
    font-size: 15px;
}

.form-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.textarea-control {
    display: grid;
    grid-column: 1/ span 2;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    /* background-color: red; */
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input:focus {
    outline-color: red;
}

select:focus {
    outline-color: red;
}

textarea:focus {
    outline-color: red;
}

.button-container {
    /* background-color: pink; */
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

button {
    /* background-color: red; */
    padding: 10px 10px;
    border-radius: 8px;
    /* color: #ffffff; */
    transition: 0.3s ease-in;
    cursor: pointer;
}

button:hover {
    background-color: red;
    color: #ffffff;
    border: 2px solid;
    /* cursor: gr; */
    transition: 0.3s ease-out;
}
@media(max-width:462px){
    .textarea-control {
        display: grid;
        grid-column: 1/ span 1;
    }
}